/mois_calendrier/AOUT.jpeg
/mois_calendrier/AVRIL.jpeg
/mois_calendrier/DECEMBRE.jpeg
/mois_calendrier/FEVRIER.jpeg
/mois_calendrier/JANVIER.jpeg
/mois_calendrier/JUILLET.jpeg
/mois_calendrier/JUIN.jpeg
/mois_calendrier/MAI.jpeg
/mois_calendrier/MARS.jpeg
/mois_calendrier/NOVEMBRE.jpeg
/mois_calendrier/OCTOBRE.jpeg
/mois_calendrier/SEPTEMBRE.jpeg
.idea/
calendrier/__pycache__/
