utilisation_de_PIL/un_exemple/NeufDrapeaux.gif
utilisation_de_PIL/un_exemple_camion/NeufDrapeaux.gif
/AOUT.jpeg
/AVRIL.jpeg
/DECEMBRE.jpeg
/FEVRIER.jpeg
/JANVIER.jpeg
/JUILLET.jpeg
/JUIN.jpeg
/MAI.jpeg
/MARS.jpeg
/NOVEMBRE.jpeg
/OCTOBRE.jpeg
/SEPTEMBRE.jpeg
